<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>

</head>

<body>
  <header>
    <%- include('../partials/nav', { email: user.email }) %>
  </header>

  <section id="parallax-1" class="hero is-large " style = "background-image: url('static/header_frame.png'); 
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100%;">
  <div class="container">
    <img src = "/static/search.png" />
    <img src = "/static/add.png" />
  </div>

</body>

<%- include('../partials/footer') %>

</html>