<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>

</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

<div class="tabs is-toggle is-centered is-large" style="margin: 0%; background-color: rgb(56, 40, 40)">
  <ul>
    <li class="is-active" style="background-color: chocolate;">
      <a href="/dashboard">
        
        <span style="text-align: center">Add Wine</span>
      </a>
    </li>
    <li>
      <a href="/cellar">
        
        <span style="text-align: center">Your Wine Cellar</span>
      </a>
    </li>
  </ul>
</div>


<section class="hero is-fullheight" style = "background-image: url('https://images.unsplash.com/photo-1534655882117-f9eff36a1574?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80');
background-attachment: fixed;
background-position: top;
background-repeat: no-repeat;
background-size: cover;
height:100%">
<form id="add-wine" class="columns" style="margin: 0%">
  <div class="column is-two-fifths">
    <div class="control">

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" style="color:white">Name</label>
        </div>
        <div class="field-body">
          <div class="field">
            <input class="input" name="wineName" type="text" placeholder="eg: Chateau de Woof">
          </div>
        </div>
      </div>  

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" style="color:white">Region</label>
        </div>
        <div class="field-body">
          <div class="field">
            <input class="input" name="region" type="text" placeholder="eg: Bordeaux">
          </div>
        </div>
      </div> 
      
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" style="color:white">Type</label>
        </div>
        <div class="field-body">
          <div class="dropdown">
            <select class="dropdown" name="type">
              <option disabled selected value style="display:none"> Select a type </option>
              <option>Red</option>
              <option>White</option>
              <option>Rosé</option>
              <option>Orange</option>
              <option>Blue</option>
            </select>
          </div>
        </div>
      </div> 

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" style="color:white">Grape</label>
        </div>
        <div class="field-body">
          <div class="dropdown">
            <select class="dropdown" name="grape">
              <option disabled selected value style="display:none"> Select a grape </option>
              <option>Cabernet Franc</option>
              <option>Cabernet Franc</option>
              <option>Cabernet Sauvignon</option>
              <option>Carménère</option>
              <option>Chardonnay</option>
              <option>Gewürztraminer</option>
              <option>Grenache</option>
              <option>Malbec</option>
              <option>Merlot</option>
              <option>Muscat Ottonel</option>
              <option>Nebbiolo</option>
              <option>Pinotage</option>
              <option>Pinot Grigio</option>
              <option>Pinot Noir</option>
              <option>Riesling</option>
              <option>Sauvignon Blanc</option>
              <option>Sémillon</option>
              <option>Syrah</option>
              <option>Tempranillo</option>
              <option>Viognier</option>
              <option>Zinfandel</option>
            </select>
          </div>
        </div>
      </div>
      
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" style="color:white">Quantity</label>
        </div>
        <div class="field-body">
          <div class="field">
            <input class="input" name="quantity" type="number" placeholder="eg: 3 X 750ml">
          </div>
        </div>
      </div>
  
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" style="color:white">Notes</label>
        </div>
        <div class="field-body">
          <div class="field">
            <textarea class="textarea" name="notes" placeholder="eg: Saving it for graduation party"></textarea>
          </div>
        </div>
      </div>


    </div>
  </div>

  <div class="column" >
    <button class = 'button is-success is-light is-large'>
      <i class="fas fa-align-center"></i>
      Add to Cellar
      
    </button>
  </div>
</form>
</section>
</body>

<%- include('../partials/footer') %>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
    const firebaseConfig = {
      apiKey: "AIzaSyD2mq8xNyBnsS_toanHaMopNS3umfEzC-k",
      authDomain: "winecellar2022.firebaseapp.com",
      projectId: "winecellar2022",
      storageBucket: "winecellar2022.appspot.com",
      messagingSenderId: "971652091709",
      appId: "1:971652091709:web:329a62af128c629f267f54"
    };

    const app = firebase.initializeApp(firebaseConfig);

    document
            .getElementById("add-wine")
            .addEventListener("submit", (event) => {
              event.preventDefault();
              const wineName = event.target.wineName.value;
              const region = event.target.region.value;
              const type = event.target.type.value;
              const grape = event.target.grape.value;
              const quantity = event.target.quantity.value;
              const notes = event.target.notes.value;

              fetch('/addWine',{
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                  wineName,
                  region,
                  type,
                  grape,
                  quantity,
                  notes
                })
              }).then(()=> {
                window.location.assign('/cellar')
              })
            })
  };
</script>

</html>